KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_TOPIC=movie-comments
TOPIC_CLASSIFIED=movie-comments-classified
API_BASE_URL="https://movie-stream-api-bidi.onrender.com"
MODEL_PATH="Model/frozen_data/ML_model.pkl"
VECTORIZER_PATH="Model/frozen_data/vectoriser.pkl"
POSTGRES_HOST=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=sentiment_db
POSTGRES_PORT=5432